* {
    box-sizing: border-box;
}

canvas {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 3px;
}

.instruction {
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 100;
    position: absolute;
    bottom: 180px;

}

#object {
    width: 40%;
    padding: 20px;
    left: 410px;
}

#light-obj {
    width: 30%;
    right: 10px;
    bottom: 10px;
}

#light-obj p:nth-child(2) {
    margin-top: 50px;
}

div,
span {
    border-radius: 3px;
}

.key {
    padding: 10px;
    background-color: aliceblue;
    font-weight: bold;
    color: black;
    width: 50px;
    height: 50px;
}

#action {
    color: yellow;
}

.option {
    width: 70%;
    list-style: none;
    font-size: 17px;
    margin: auto;
    text-align: left;
}